@media only screen and (max-width: 600px) {
    .container, .titlecontainer {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0D1B2A;
    color: rgb(200, 200, 200);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color: #2f536b;
}

#daysRemainingDisplay {
    text-align: center;
    color: #b43004;
    font-size: 14pt;
}

#title {
    font-size: 36pt;
    font-weight: bold;
    text-align: center;
    color:rgb(243, 221, 160)
}

.titlecontainer {
    width: 80%;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: linear-gradient(
        85deg, 
        rgba(184, 190, 221, 0.85),
        rgba(156, 137, 184, 0.85),
        rgba(240, 166, 202, 0.85),
        rgba(239, 195, 230, 0.85),
        rgba(240, 230, 239, 0.85)
    );
    border-radius: 8px;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: #2e3c55;
    border-radius: 8px;
}



#water {
    background-color: rgba(184, 190, 221, 0.85);
}

#food{
    background-color: rgba(156, 137, 184, 0.85);
}

#sleep {
    background-color: rgba(240, 166, 202, 0.85);
}

#mindfulness {
    background-color: rgba(239, 195, 230, 0.85);
}

#exercise {
    background-color: rgba(240, 230, 239, 0.85);
}



.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-right: 10px;
    color: #E0E1DD;
}

input[type="number"],
input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #E0E1DD;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e6bed5;
}

#waterConsumedDisplay, 
#sleepDisplay, 
#mindfulnessDisplay {
    text-align: center;
    font-weight: bold;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #E0E1DD;
    color: black;
}

td, th {
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    text-align: left;
}

td {
    background-color: rgba(13, 27, 42, 0.5);
}

.cycle-color {
    transition: color 2s ease; /* Smooth transition for the color property */
}
